</div>
</main>

<footer class="border-top footer text-muted">
<div class="container">
</div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script>
$(document).ready(() => {
    document.getElementById('userName').innerHTML = localStorage.getItem("log_user");
})
function logout() {
    localStorage.removeItem('log_token');
    localStorage.removeItem('log_user');
    window.location.href = "/dev/logs/login";
}
</script>
</body>
</html>
