<%- include('./partials/layout_header') %>
        <h1>API</h1>
        <p>
            Swagger:<a href="/swagger/">/swagger/</a>
        </p>
        <p>
            Log:<a href="/dev/logs/">/logs/</a>
        </p>
<%- include('./partials/layout_footer') %>
